@main-background-color: #fff;
@main-text-color: #aaa;
@main-text-font: 'Open Sans', sans-serif;

@top-bar-height: 50px;

@right-panel-width: 300px;
@left-panel-width: 300px;

// mixins --------------------------

.absolute-position {
  position: absolute;
}

.max-height {
  position: absolute;
  top: 0;
  bottom: 0;
}

.max-width {
  position: absolute;
  left: 0;
  right: 0;
}

.max {
  .max-height;
  .max-width;
}

.top-bar-height {
  height: @top-bar-height
}

.top-bar-margin {
  margin-top: @top-bar-height
}

.scrollbars {
  overflow-y: auto;
  overflow-x: auto;
}

.no-scrollbars {
  overflow-y: hidden;
  overflow-x: hidden;
}

.vertical-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
}

.horizontal-scrollbar {
  overflow-y: hidden;
  overflow-x: auto;
}

.bottom-edge {
  border-bottom: 1px solid @main-text-color;
}

// ---------------------------------

body {
  background-color: @main-background-color;
  color: @main-text-color;
  font-family: @main-text-font;
}

// Main app ------------------------

.app {
  .max;
}

.app .top-container {
  .max-width;
  top: 0;
  height: @top-bar-height;
}

.app .bottom-container {
  .max;
  margin-top: @top-bar-height;
}

.note {
  background-color: white;
  padding: 5px;
  color: dimgray;
  font-size: small;
  border-bottom: solid 1px dimgray;
}

.title {
  font-weight: bold;
  font-size: medium;
}

.red-note {
  .note;
  border-top: solid red 3px;
}

.green-note {
  .note;
  border-top: solid greenyellow 3px;
}

.blue-note {
  .note;
  border-top: solid cornflowerblue 3px;
}

.spacer-note {
  .note;
  padding-top: 20px;
  margin: 5px;
  border: dashed dimgray 1px;
  background-color: lightgray;
}

.notes-list {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
  border: 1px dotted dimgray;
  padding-bottom: 20px;
}

.placeholder {
  border: 0;
  padding: 0;
  margin: 0;
}

